<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jara.kotlin_myshare">

    <application>
        <activity android:name=".ShareDialogActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/ShareDialogTheme">
        </activity>
    </application>

</manifest>